/** Breakpoints */
$breakpoint-mobile: 30rem;
$breakpoint-tablet: 45rem;
$breakpoint-desktop: 64rem;
$breakpoint-desktop-large: 70rem;
$breakpoint-widescreen: 108rem;

/** WordPress defaults **/
$wordpress-default-breakpoint-mobile-nav: 600px;